* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

.mainBanner  {
    background-color: red;
    width: 100%;
    height: 280px;
}

.mainBanner {
    width: 100%;
    height: 280px;
    background-image: url("./img/banner.jpg");
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mainBanner .text {
    font-size: 42px;
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    animation: titleText 1s ease-in-out;
}

@keyframes titleText {
    0% {
        transform: translateY(70px);
        opacity: 0;
    }
    92% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    } 
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.wrapper {
    width: 100%;
    max-width: 1320px;
    display: flex;
    flex-direction: row;
    padding: 20px 10px;
    align-items: flex-start;
    justify-content: space-between;
}

.sidebar {
    width: 170px;
    height: 100%;
    margin-right: 10px;
}

.mainMenu {
    background-color: orange;
    border-radius: 5px;
    padding: 10px 15px;
}

.mainMenu ul {
    padding: 0;
    display: block;
}

.mainMenu ul li {
    list-style: none;
    cursor: pointer;
}

.mainMenu ul li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 20px;   
    padding: 10px;
    transition: all 0.3s ease-in-out;
}


.writeBtnBox {
    margin-top: 10px;
}

.writeBtn {
    width: 100%;
    color: white;
    background: black;
    border: 1px solid black;
    padding: 10px 20px;
    text-align: left;
    font-size: 16px;
    cursor:  pointer;
}

.writeBtnBox .arrow {
    display: inline-block;
    /* inline 요소에는 적용되지 않는다. inline-block으로 바꿔주기 */
    padding-left: 10px;
    transition: all 0.3s ease-in-out;
}

.itemWrap {
    width: calc(100% - 170px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.item {
    width: calc((25% - 7px));
    aspect-ratio: 6 / 5;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 15px;
}

.imgBox { 
    width: 100%;
    height: 100%;
    z-index: 1;
}

.imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textBox {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
    z-index: 3;
}

.textBox p {
    color: white;
    margin: 5px 0px;
    
}

.textBox__name {
    font-size: 22px;
    font-weight: 500;
    opacity: 0;
    transform: translateY(50px);
}

.textBox__price {
    font-size: 16px;
    font-weight: 400;
    opacity: 0;
    transform: translateY(50px);
}

.item:after {
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    background: rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
}



@media screen and (max-width: 767px) {
    /* mobile */
    .mainBanner {
        width: 100%;
        height: 160px;
    }

    .mainBanner .text {
        font-size: 26px;
    }
    
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .wrapper {
        width: 100%;
        flex-direction: column;
        padding: 0px;
    }

    .sidebar {
        width: 100%;
        height: 45px;
    }

    .mainMenu {
        border-radius: 0px;
        padding: 0px;
        height: 100%;
    }

    .mainMenu ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        justify-content: center;
        padding: 0px;
        margin: 0;
        align-items: center;
    }

    .writeBtnBox {
        display: none;
    }

    .itemWrap {
        width: 100%;
        padding: 10px;
    }

    img {
        overflow: clip;
        border-radius: 10px 10px 0px 0px;
    }

    .item {
        width: calc(50% - 7px);
        display: flex;
        flex-direction: column;
        overflow: visible;
        border: 1px solid gray;
    }

    .textBox {
        width: 100%;
        height: auto;
        position: relative;
        padding: 10px 15px 12px;
    }

    .textBox p {
        color: black;
    }

    .textBox__name {
        opacity: 1;
        transform: translateY(0);
        font-size: 20px;
    }

    .textBox__price {
        opacity: 1;
        transform: translateY(0);
        font-size: 14px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* tablet  */
    img {
        overflow: clip;
        border-radius: 10px 10px 0px 0px;
    }

    .item {
        flex-direction: column;
        overflow: visible;
        border: 1px solid gray;
    }

    .textBox {
        width: 100%;
        height: auto;
        position: relative;
        padding: 10px 15px 12px;
    }

    .textBox p {
        color: black;
    }

    .textBox__name {
        opacity: 1;
        transform: translateY(0);
        font-size: 20px;
    }

    .textBox__price {
        opacity: 1;
        transform: translateY(0);
        font-size: 14px;
    }
    
}

/* 1024px보다 viewport가 큰 경우 기본 css 적용 */

@media screen and (min-width: 1024px) {
    /* hover 효과는 PC에서만 적용 */
    .mainMenu ul li a:hover {
        padding-left: 20px;
        background: rgb(255, 145, 0);
    }

    .writeBtn:hover {
        background: white;
        color: #333333;
    }

    .writeBtn:hover .arrow {
        transform: translateX(50px);
    }
    
    .item:hover:after {
        opacity: 1;
    }
    
    .item:hover .textBox__name {
        opacity: 1;
        transform: translateY(0);
    }
    
    .item:hover .textBox__price {
        opacity: 1;
        transform: translateY(0);
    }
    
    .item:hover .imgBox img {
        transform: scale(1.1);
        filter: blur(3px);
    }

    .item:after, 
    .item .imgBox .img,
    .item .textBox__name,
    .item .textBox__price {
        transition: all 0.4s ease-in-out;
    }

    .item .textBox__price {
        transition: all 0.4s ease-in-out 0.15s;
    }

    

    
}